@import "react-toolbox/lib/variables.css";

.appWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: calc(4 * var(--unit));
}

.appCard {
  width: calc(25 * var(--unit));
  margin: calc(2 * var(--unit));
}

.button {
  position: absolute;
  top:   calc(10 * var(--unit));
  right: calc(6 * var(--unit));
  z-index: var(--z-index-higher);
}
