@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";

.state {
  border-left: 1px solid #f4ae01;
}

.heading {
  background-color: #f4ae01;
  color: var(--color-white);
  padding: calc(var(--unit) * 2.2) var(--unit);
  font-size: var(--font-size-big);
}
